player-connection-mode=Listen
player-connection-guid=3424980688
player-connection-debug=0
player-connection-project-name=RLUnity
player-connection-ip=192.168.42.26
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7cdf639b3cd04762aef31e922af1de17
